#header {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: aliceblue;
    text-align: center;
    z-index: 900;
}

#header h1 {
    position: relative;
    top: 50%;
    font-size: 102px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Manrope', sans-serif;
    font-family: 'Phudu', cursive;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 650px) {
    #header h1 {
        font-size: 80px;
    }
}

@media (max-width: 450px) {
    #header h1 {
        top: 30%;
        font-size: 80px;
    }
}
